@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply transition-colors duration-100 ease-in-out;

  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
